body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.overlay {
  width: 100%;
  height: 100vh;
  background-image: url("img/first.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.intro-top {
  margin-top: 40vh;
}
.article {
  display: block;
  width: 100%;
  margin: 30vh 0 0 0;
  padding: 0;
  word-wrap: break-word;
}
.article article {
  padding: 20px 15px;
  border-radius: 50px 0px;
  text-align: center;
  margin: 0 15px;
}
.fas {
  font-size: 22px;
}
.f-awesome1 {
  background-color: #97a9bd;
}
.f-awesome2 {
  background-color: #a197bd;
}
.f-awesome3 {
  background-color: #bda697;
}
.f-awesome4 {
  background-color: #97bdab;
}

.icon1 {
  color: #97a9bd;
}
.icon2 {
  color: #a197bd;
}
.icon3 {
  color: #bda697;
}
.icon4 {
  color: #97bdab;
}

.article i {
  background-color: #fff;
}
.article h3 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.article p {
  font-size: 15px;
  color: #fff;
}
.f-awesome1:hover {
  background-color: #fff;
  transition: all 0.7s ease-in-out;
}
.f-awesome2:hover {
  background-color: #fff;
  transition: all 0.7s ease-in-out;
}
.f-awesome3:hover {
  background-color: #fff;
  transition: all 0.7s ease-in-out;
}
.f-awesome4:hover {
  background-color: #fff;
  transition: all 0.7s ease-in-out;
}
.block:hover .icon1 {
  color: #fff;
  background-color: #97a9bd;
}
.block:hover .icon2 {
  color: #fff;
  background-color: #a197bd;
}
.block:hover .icon3 {
  color: #fff;
  background-color: #bda697;
}
.block:hover .icon4 {
  color: #fff;
  background-color: #97bdab;
}
.block:hover .hover-text1 {
  color: #97a9bd;
  transition: all 0.7s ease-in-out;
}
.block:hover .hover-text2 {
  color: #a197bd;
  transition: all 0.7s ease-in-out;
}
.block:hover .hover-text3 {
  color: #bda697;
  transition: all 0.7s ease-in-out;
}
.block:hover .hover-text4 {
  color: #97bdab;
  transition: all 0.7s ease-in-out;
}
.block:hover,
*::before,
*::after {
  transition: all 1s ease-in-out;
}

.hover-text1:hover {
  color: #97a9bd;
}
.hover-text2:hover {
  color: #97a9bd;
}
.hover-text3:hover {
  color: #97a9bd;
}
.hover-text4:hover {
  color: #97a9bd;
}

/* Other Items */
.other-items {
  width: 100%;
  margin-top: 18rem;
}
.footer-name {
  color: rgb(75, 75, 75);
  font-size: 17px;
  font-weight: bold;
}

/* NOTICE */
.notice {
  margin-top: 6rem;
  background-image: url("./img/middle.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
}
.notice .f-awesome {
  width: 25%;
  height: 250px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
}
.sectiontitle {
  text-align: center;
  color: #97a9bd;
}
.sectiontitle p {
  font-size: 1rem;
  font-weight: bold;
}
.sectiontitle h5 {
  font-size: 1.7rem;
  font-weight: normal;
}
.notice .block1 {
  margin-left: 10%;
}
.notice .block2 {
  margin-left: 3%;
}
.padd {
  padding: 20px;
}
.notice1,
.notice2,
.notice3,
.notice4,
.notice5,
.notice6 {
  color: #fff;
  background-color: #97a9bd;
}
.notice article:hover {
  background-color: #97a9bd;
}
.notice article:hover i {
  background-color: #fff;
  color: #97a9bd;
}
.text-hover {
  color: #97a9bd;
}
.notice article:hover .text-hover {
  color: #fff;
}

/* Circle Progress Bar */
.area {
  height: 60vh;
  padding: 80px 0;
}
.circle {
  margin-bottom: 34px;
}
.circle-chart {
  width: 200px;
  height: 200px;
}
.progress-title {
  padding-bottom: 60px;
}
.circle-chart__circle {
  stroke: #00acc1;
  stroke-width: 2;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1); /* 1, 2, 3 */
}

.circle-chart__background {
  stroke: #efefef;
  stroke-width: 2;
  fill: none;
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 5px;
  transition: 0.6s ease-in-out;
}
.circle-chart__percent:hover {
  font-size: 8px;
}

.circle-chart__subline {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 2.5px;
}

.success-stroke {
  stroke: #97a9bd;
}

.warning-stroke {
  stroke: #97a9bd;
}

.danger-stroke {
  stroke: #97a9bd;
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* GALLERY */
.gallery {
  height: 100vh;
  color: #474747;
  background: linear-gradient(to bottom, #f4f4f4 55%, #fff 50%, #fff 100%);
}
.gallery .sectiontitle {
  padding: 80px 0;
}

/* REVIEW */
.review {
  width: 100%;
  height: 70vh;
  background-color: #97a9bd;
}
.review .sectiontitle {
  padding: 80px 0;
  color: #fff;
}
.review-img {
  width: 95%;
  margin: 0 auto;
}
.review1 {
  width: 100px;
  height: 100px;
}
.img-des {
  text-align: center;
}
.small-des {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-des h4,
p {
  color: #fff;
  margin: 5px 0 0 20px;
}
.main-review {
  width: 95%;
  height: 6rem;
  color: #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 25px 0;
}

/* ADMIN SECTION */
.wrapper {
  width: 100%;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoc {
  max-width: 95%;
  padding: 80px 0;
}
.wrapper .card-footer {
  background-color: #282e39;
  height: 45px;
}
.wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrapper li i,
h5 {
  color: #f4f4f4;
}
.fa-user {
  font-size: 15px;
}
.wrapper .meta a {
  font-size: 15px;
}
.excerpt {
  margin: 20px 0 0 20px;
  padding: 10px 15px;
  border-left: 1px solid rgb(201, 201, 201);
}
.excerpt time {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.excerpt p {
  color: #97a9bd;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* CONTACT SECTION */
.contact {
  color: #474747;
  background-color: #f4f4f4;
  padding: 80px 0;
}
.contact .sectiontitle p {
  font-size: 15px;
}
.contact .sectiontitle h5 {
  font-size: 30px;
}
.contact ul li {
  position: relative;
  margin: 0 0 35px 0;
  padding: 15px 80px 15px 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: all 1s ease-in-out;
}
.contact .fa-phone {
  margin-right: 25px;
  color: #fff;
  background-color: #97a9bd;
  top: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
}
.contact .contact-block1:hover {
  background-color: #97a9bd;
  transition: all 1s ease-in-out;
}
.contact .contact-block1:hover .contact-info {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.contact .contact-block1:hover .fa-phone {
  color: #97a9bd;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.contact .fa-envelope {
  margin-right: 25px;
  color: #fff;
  background-color: #bda697;
  top: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
}
.contact .contact-block2:hover {
  background-color: #bda697;
  transition: all 0.5s ease-in-out;
}
.contact .contact-block2:hover .contact-info {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.contact .contact-block2:hover .fa-envelope {
  color: #bda697;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.contact .fa-map-marker-alt {
  margin-right: 25px;
  color: #fff;
  background-color: #97bdab;
  top: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
}
.contact .contact-block3:hover {
  background-color: #97bdab;
  transition: all 0.5s ease-in-out;
}
.contact .contact-block3:hover .contact-info {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.contact .contact-block3:hover .fa-map-marker-alt {
  color: #97bdab;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.contact strong {
  color: #474747;
  font-size: 17px;
}
.contact h5 {
  color: #474747;
  font-size: 15px;
}
.contact-half2 h3 {
  font-size: 20px;
  color: #474747;
}
.contact-half2 p {
  font-size: 15px;
  color: #474747;
}
.contact-half2 input {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding: 20px 40px 20px 20px;
}
.contact-half2 button {
  padding: 15px 40px;
  background-color: #97a9bd;
  color: #fff;
  font-weight: bold;
  border: none;
}
.contact-half2 button:hover {
  color: #97a9bd;
  background-color: #fff;
  transition: all 1s ease-in-out;
  border: 1px solid gainsboro;
}

/* MAIN FOORTER */
.main-footer {
  width: 100%;
  height: 70vh;
  background-image: url("img/last.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: rgba(40, 46, 57, 0.7);
  padding: 80px 180px;
}
.main-footer h1 {
  font-size: 18px;
}
.main-footer p {
  font-size: 15px;
  font-weight: 600;
  color: #a5a6aa;
}
.main-footer ul li a i {
  margin: 30px 10px 0 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  background-color: #282e39;
}
.main-footer ul li .fa-facebook-square {
  color: #3b5998;
}
.main-footer ul li .fa-facebook-square:hover {
  transition: all 0.5s ease-in-out;
  color: #fff;
  background-color: #3b5998;
}
.main-footer ul li .fa-google-plus-g {
  color: #ea4335;
}
.main-footer ul li .fa-google-plus-g:hover {
  transition: all 0.5s ease-in-out;
  color: #fff;
  background-color: #ea4335;
}
.main-footer ul li .fa-linkedin {
  color: #0e76a8;
}
.main-footer ul li .fa-linkedin:hover {
  transition: all 0.5s ease-in-out;
  color: #fff;
  background-color: #0e76a8;
}
.main-footer ul li .fa-twitter {
  color: #08a0e9;
}
.main-footer ul li .fa-twitter:hover {
  transition: all 0.5s ease-in-out;
  color: #fff;
  background-color: #08a0e9;
}
.main-footer ul li .fa-vk {
  color: #1a487b;
}
.main-footer ul li .fa-vk:hover {
  transition: all 0.5s ease-in-out;
  color: #fff;
  background-color: #1a487b;
}
.main-footer .weekend p {
  margin-left: 10px;
  padding: 12px 0;
  border-bottom: 1px solid gray;
}
.main-footer .gallery-img {
  width: 70px;
  height: 70px;
}
.main-footer .time {
  border-bottom: 1px solid gray;
}

/* Footer */
.footer {
  color: #a5a6aa;
  background-color: #282e39;
  padding: 20px 0;
}
.copyright {
  max-width: 95%;
}
